[submodule "pack/andyrallis/start/nerdtree"]
	path = pack/andyrallis/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "pack/andyrallis/start/neoformat"]
	path = pack/andyrallis/start/neoformat
	url = https://github.com/sbdchd/neoformat.git
[submodule "pack/andyrallis/start/vim-tailwindcss"]
	path = pack/andyrallis/start/vim-tailwindcss
	url = https://github.com/mrdotb/vim-tailwindcss.git
[submodule "pack/andyrallis/start/dracula"]
	path = pack/andyrallis/start/dracula
	url = https://github.com/dracula/vim.git
