[submodule "./pack/andyrallis/start/vim-fugitive"]
	path = pack/andyrallis/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "./pack/andyrallis/start/vim-elixir"]
	path = pack/andyrallis/start/vim-elixir
	url = https://github.com/elixir-editors/vim-elixir.git
[submodule "pack/andyrallis/start/nerdtree"]
	path = pack/andyrallis/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "pack/andyrallis/start/neoformat"]
	path = pack/andyrallis/start/neoformat
	url = https://github.com/sbdchd/neoformat.git
[submodule "pack/andyrallis/start/auto-pairs"]
	path = pack/andyrallis/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "pack/andyrallis/start/vim-colors-solarized"]
	path = pack/andyrallis/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "pack/andyrallis/start/Nvim-R"]
	path = pack/andyrallis/start/Nvim-R
	url = https://github.com/jalvesaq/Nvim-R.git
