[submodule "pack/andyrallis/start/nerdtree"]
	path = pack/andyrallis/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "pack/andyrallis/start/neoformat"]
	path = pack/andyrallis/start/neoformat
	url = https://github.com/sbdchd/neoformat.git
[submodule "pack/andyrallis/start/vim-colors-solarized"]
	path = pack/andyrallis/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
